h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

.chat{
    width: 400px;
    box-shadow: 9px 9px 7px 1px rgba(0,0,0,0.75);
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 10px;
    right: 10px;
    justify-content: space-around;
}

.chat form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat form #message{
    height: 100px;
}

.chat_post{
    width: 40%;
    box-shadow: inset -9px 9px 7px 1px rgba(0,0,0,0.75);  
    border: 1px solid black;
    overflow-y: scroll;
}