body{
    padding-bottom: 50px;
}

nav{
    margin-bottom: 50px;
}

#live_chat{
    margin-left: 20px;    
    width: 250px;
}
.header_chat{
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    background: #55b9f3;
    box-shadow: inset -13px 13px 9px #479aca, inset 13px -13px 9px #63d8ff;
    transition: 0.5s;    
    
}
.header_chat:hover{
    background: #55b9f3;
    box-shadow: inset -13px -13px 9px #479aca, inset -13px -13px 9px #63d8ff;
}

.chat .chat_post{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    max-height: 250px;
    padding-left: 5px;
    scrollbar-width: thin;
    scrollbar-color:#007bff;
    background: #55b9f3;
    box-shadow: inset -13px -13px 9px #479aca, inset 13px 13px 9px #63d8ff;
    transition: 0.5s;    
}

.chat_post::-webkit-scrollbar{
    width: 5px;
}

.chat_post::-webkit-scrollbar-thumb{    
    background-color: #63d8ff;
}

.chat_post::-webkit-scrollbar-track{
    background: #55b9f3;
}

.btn-outline-secondary{    
    border-radius: 0 !important;
    background: #55b9f3 !important;
    box-shadow: inset -13px -13px 33px #479aca, 
                inset 13px 13px 33px #63d8ff !important;
}