body{
    padding-bottom: 50px;
}

nav{
    margin-bottom: 50px;
}

#live_chat{
    margin-left: 20px;    
    width: 250px;
}
.header_chat{
    background-color: #007bff;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}
.header_chat:hover{
    background-color: #0073ee;
}

.chat .chat_post{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    max-height: 250px;
    background-color: #007bff83;
    padding-left: 5px;
    scrollbar-width: thin;
    scrollbar-color:#007bff;
}

.chat_post::-webkit-scrollbar{
    width: 10px;
}

.chat_post::-webkit-scrollbar-thumb{    
    background-color: #007bff;
}

.chat_post::-webkit-scrollbar-track{
    background: #007bff83;
}